.cell {
  composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css';

  display: flex;
  align-items: center;
}

.title {
  composes: cell;

  flex: 4 0 140px;
}

.year {
  composes: cell;

  flex: 0 0 70px;
}

.tvdbId,
.imdbId {
  composes: cell;

  flex: 0 0 110px;
}

.externalLink {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  & span {
    cursor: pointer;
    transition: border-color 150ms ease-in-out,
      background-color 150ms ease-in-out, color 150ms ease-in-out;
  }

  &:hover span,
  &:focus span {
    border-color: var(--primaryColor);
    background-color: var(--primaryColor);
    color: var(--white);
  }
}
