.modalBody {
  composes: modalBody from '~Components/Modal/ModalBody.css';

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.filterInput {
  composes: input from '~Components/Form/TextInput.css';

  flex: 0 0 auto;
  margin-bottom: 20px;
}

.scroller {
  flex: 1 1 auto;
}

.episodeTitle {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  min-width: 220px;
}

.fileContext {
  composes: cell from '~Components/Table/Cells/TableRowCell.css';

  min-width: 360px;
  max-width: 520px;
}

.incomingFileName,
.existingFileName,
.noFileContext {
  word-break: break-all;
  font-size: 12px;
  line-height: 1.35;
}

.incomingFileName + .incomingFileName,
.incomingFileName + .existingFileName,
.incomingFileName + .noFileContext,
.noFileContext + .existingFileName,
.noFileContext + .noFileContext {
  margin-top: 4px;
}

.incomingFileName {
  color: var(--defaultColor);
}

.existingFileName {
  color: var(--helpTextColor);
}

.noFileContext {
  color: var(--dimColor);
}

.footer {
  composes: modalFooter from '~Components/Modal/ModalFooter.css';

  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.details {
  margin-right: 20px;
  color: var(--dimColor);
  word-break: break-word;
}

.buttons {
  display: flex;
}

@media only screen and (max-width: $breakpointSmall) {
  .footer {
    display: block;
  }

  .details {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .buttons {
    justify-content: space-between;
    flex-grow: 1;
  }
}
